@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


nav
{
    background-color:#272822 !important;
    width: 100% !important;
    display: block !important;
}

nav ul li 
{
    list-style-type: none !important;
    display: inline-block !important;
    padding:1rem 2rem !important;
    margin:0 auto !important;
    text-align: center !important;
    font-family:'Roboto', sans-serif !important;
}

li, a
{
    color:white !important;
    text-decoration: none;
    padding:1rem 1rem;


}

li :hover
{
    background-color:yellow !important;
    
}